body {
	/* background-image: url(/assets/Background.jpg);
	background-repeat: no-repeat;
	background-size: 100%; */
	font-family: Arial, sans-serif;
	background-color: rgb(255, 255, 255);
	
}
main{
	font-style: oblique;
}

h1{
	text-align: right;
}
